<div class="wrapper">
  <!-- Menu Button -->
  <div class="menu">
    <button id="menu" click="openSideNav">Menu</button>
  </div>

  <!-- Title Bar -->
  <div style="text-align:center">
    <h1>
      Welcome to {{ title }}!
    </h1>
  </div>

  <!-- Common Buttons -->
  <div class="buttons">
    <button id="save">Save</button>
    <button class="btn btn-primary">Test Button</button>
  </div>

  <!-- Side Navigation -->
  <div style="text-align:left">
    <ul>
      <li>Projektübersicht</li>
      <li>Charaktere</li>
      <li>Test...</li>
    </ul>
  </div>
</div>
