<div class="wrapper">
  <!-- Main Menu -->
  <button type="button" class="btn btn-default" aria-label="Left Align">
    <span class="glyphicon glyphicon-align-left" aria-hidden="true"></span>
  </button>

  <!-- Title Bar -->
  <div style="text-align:center">
    <h1>
      Welcome to {{ title }}!
    </h1>
  </div>

  <!-- Common Buttons -->
  <div class="buttons">
    <button id="save">Save</button>
    <button class="btn btn-primary">Test Button</button>
  </div>

  <!-- Side Navigation -->
  <div style="text-align:left">
    
  </div>
</div>
