<div mat-dialog-content>
  <p>Enter Project Title: </p>
  <mat-form-field>
    <input matInput [(ngModel)]="project.title">
  </mat-form-field>
  <span class="label">Tag</span>
  <mat-form-field>
    <input matInput [(ngModel)]="project.tag">
  </mat-form-field>
  <span class="label">Description</span>
  <mat-form-field>
    <input matInput [(ngModel)]="project.description">
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button [mat-dialog-close]="project">Create</button>
  <button mat-button (click)="onNoClick()">Cancel</button>
</div>